.main-container{
margin: 0 75px 0 75px;
}
.header-logo{
    width: 150px;
}
.first-page{
    border-radius: 25px;
    background-color: rgb(63, 169, 245);
}

footer{
    background-color: rgb(25, 25, 90);
    padding: 0 80px 0 80px;
    color: white;
}

.feautures{
    margin: 0 75px 0 75px;
}
.text-body-secondary{
    color: white !important;
}
a{
    color: white;
}
.doc{
    color: white !important;
}


/* privacy policy 👇 css styles */

.p-main-container{
    margin: 4rem 10rem 6rem 10rem;

}

.top{
    margin-bottom: 3rem;
    color: rgb(25, 25, 90);
}

.top-text{
    color: rgb(25, 25, 90);
}

.detail{
    font-size: 1.1rem;
}



/* About Us 👇 css styles */


.a-main-container{
    margin: 5rem 10rem 6rem 10rem;
}



.first-div{
    margin-bottom: 7rem;
}

.as{
    color: rgb(226, 92, 34);
    padding-bottom: 1rem;
}

.v-statement{
    width: 50%;
    padding-top: 3rem;
    display: inline-block;
}

.pop-image{
    float: right;
    height: 40%;
    width: 40%;
}

/** media query for mobile phone**/
@media only screen and (max-width: 600px) {
    .main-container{
        margin: 0 20px 0 20px;
    }
    
    .a-main-container{
        margin: 4rem 2rem 6rem 2rem;
    }

    .v-statement{
        width: 100%;
    }

    .pop-image{
        height: 80%;
        width: 100%;
    }

    .b-sub-container{
        margin-top: 2rem;
        display: block;
    }
        /* privacy policy mobile styles*/
    .p-main-container{
        margin: 4rem 3rem 3rem 3rem;
    }
}